*.class
*.log
*.ctxt

target/
build/
out/

.mvn/wrapper/maven-wrapper.jar

.gradle/
!gradle/wrapper/gradle-wrapper.jar

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

logs/
*.log

application.properties
application.yml
application-*.yml
application-*.properties

*.db
*.sqlite
*.h2.db

.idea/
*.iml
*.iws

.vscode/

.project
.classpath
.settings/
bin/

.DS_Store
Thumbs.db

.env
.env.*

node_modules/

docker-compose.override.yml